table td,table th {
  padding: 0
}

.c62 {
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c67 {
  background-color: #ffffff;
  color: #222222;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: italic
}

.c10 {
  margin-left: 0.8pt;
  padding-top: 4.7pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.3189162015914917;
  text-align: left;
  margin-right: 2pt
}

.c48 {
  margin-left: 0.8pt;
  padding-top: 4.9pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.1800832748413086;
  text-align: left;
  margin-right: 1pt
}

.c58 {
  color: #353744;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 30pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c15 {
  margin-left: 1.1pt;
  padding-top: 0pt;
  text-indent: 1.1pt;
  padding-bottom: 0pt;
  line-height: 1.3017570972442627;
  text-align: justify;
  margin-right: 0.8pt
}

.c42 {
  margin-left: 0.9pt;
  padding-top: 0.8pt;
  text-indent: 0.7pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 0.8pt
}

.c6 {
  color: #3c78d8;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arimo";
  font-style: normal
}

.c5 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: normal
}

.c60 {
  margin-left: 19.7pt;
  padding-top: 0pt;
  text-indent: -17.5pt;
  padding-bottom: 0pt;
  line-height: 1.8183914422988892;
  text-align: left;
  margin-right: 1.4pt
}

.c30 {
  margin-left: 3pt;
  padding-top: 0pt;
  text-indent: -0.8pt;
  padding-bottom: 0pt;
  line-height: 2.021411895751953;
  text-align: left;
  margin-right: 1.4pt
}

.c21 {
  margin-left: 1.6pt;
  padding-top: 4.7pt;
  text-indent: -0.5pt;
  padding-bottom: 0pt;
  line-height: 1.4577499628067017;
  text-align: left;
  margin-right: 17.2pt
}

.c25 {
  color: #00ab44;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c32 {
  color: #666666;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: italic
}

.c95 {
  color: #222222;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Arial";
  font-style: italic
}

.c44 {
  color: #1155cc;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c68 {
  margin-left: 19.7pt;
  padding-top: 0pt;
  text-indent: -17.5pt;
  padding-bottom: 0pt;
  line-height: 1.818313717842102;
  text-align: left;
  margin-right: 1.4pt
}

.c11 {
  color: #3c78d8;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal
}

.c77 {
  color: #00ab44;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 18pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c14 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 11pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c106 {
  margin-left: 1.1pt;
  padding-top: 1.6pt;
  text-indent: -0pt;
  padding-bottom: 0pt;
  line-height: 1.1887603998184204;
  text-align: justify;
  margin-right: 1.4pt
}

.c64 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c17 {
  margin-left: 1.3pt;
  padding-top: 1.7pt;
  text-indent: 0.3pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 1.7pt
}

.c72 {
  margin-left: 1.3pt;
  padding-top: 0.8pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 0.1pt
}

.c88 {
  color: #666666;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: italic
}

.c53 {
  margin-left: 0.9pt;
  padding-top: 4.7pt;
  text-indent: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1887603998184204;
  text-align: justify;
  margin-right: 1.3pt
}

.c55 {
  margin-left: 1.6pt;
  padding-top: 0.8pt;
  text-indent: 0pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 1.6pt
}

.c46 {
  margin-left: 37.3pt;
  padding-top: 3.8pt;
  text-indent: -17.5pt;
  padding-bottom: 0pt;
  line-height: 1.1800832748413086;
  text-align: left;
  margin-right: 41.8pt
}

.c100 {
  margin-left: 1.1pt;
  padding-top: 4.7pt;
  text-indent: -0.2pt;
  padding-bottom: 0pt;
  line-height: 1.1887617111206055;
  text-align: justify;
  margin-right: 0.7pt
}

.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c12 {
  color: #333333;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c35 {
  margin-left: 0.8pt;
  padding-top: 0.7pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: justify;
  margin-right: 1.2pt
}

.c3 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c59 {
  margin-left: 19.7pt;
  padding-top: 0pt;
  text-indent: -17.5pt;
  padding-bottom: 0pt;
  line-height: 1.1836568117141724;
  text-align: left;
  margin-right: 1.4pt
}

.c61 {
  margin-left: 0.8pt;
  padding-top: 4.7pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.191652774810791;
  text-align: justify;
  margin-right: 0.7pt
}

.c63 {
  margin-left: 1.3pt;
  padding-top: 4.7pt;
  text-indent: 0.4pt;
  padding-bottom: 0pt;
  line-height: 1.191652774810791;
  text-align: justify;
  margin-right: 0.1pt
}

.c79 {
  margin-left: 1.2pt;
  padding-top: 0pt;
  text-indent: 1pt;
  padding-bottom: 0pt;
  line-height: 1.818313717842102;
  text-align: left;
  margin-right: 1.4pt
}

.c16 {
  color: #353744;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 12pt;
  font-family: "Proxima Nova";
  font-style: normal
}

.c56 {
  margin-left: 19.7pt;
  padding-top: 0pt;
  text-indent: -17.5pt;
  padding-bottom: 0pt;
  line-height: 1.1836471557617188;
  text-align: left;
  margin-right: 1.4pt
}

.c89 {
  margin-left: 19.7pt;
  padding-top: 2.5pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 61.5pt
}

.c109 {
  margin-left: 19.7pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.1974375247955322;
  text-align: left;
  margin-right: 84.2pt
}

.c108 {
  margin-left: 1.3pt;
  padding-top: 0pt;
  text-indent: 0.9pt;
  padding-bottom: 0pt;
  line-height: 1.1570230722427368;
  text-align: justify
}

.c33 {
  margin-left: 19.7pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.1974375247955322;
  text-align: left;
  margin-right: 51pt
}

.c84 {
  padding-top: 10.7pt;
  text-indent: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.1974375247955322;
  text-align: left;
  margin-right: 2.8pt
}

.c90 {
  margin-left: 19.7pt;
  padding-top: 2.5pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 55.2pt
}

.c18 {
  margin-left: 19.7pt;
  padding-top: 2.5pt;
  padding-bottom: 0pt;
  line-height: 1.1453750133514404;
  text-align: left;
  margin-right: 64pt
}

.c57 {
  margin-left: 1.5pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 0.989187479019165;
  text-align: left;
  margin-right: 34.8pt
}

.c93 {
  padding-top: 4.7pt;
  text-indent: -0.1pt;
  padding-bottom: 0pt;
  line-height: 1.2842084169387817;
  text-align: left;
  margin-right: 1pt
}

.c7 {
  margin-left: 19.7pt;
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c36 {
  padding-top: 166.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.5pt
}

.c99 {
  margin-left: 1.6pt;
  padding-top: 1pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c23 {
  margin-left: 19.7pt;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c19 {
  margin-left: 1.5pt;
  padding-top: 5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c27 {
  margin-left: 1pt;
  padding-top: 6.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c49 {
  margin-left: 19.7pt;
  padding-top: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c24 {
  margin-left: 1.6pt;
  padding-top: 27.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c81 {
  padding-top: 29.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left;
  margin-right: 3.5pt
}

.c26 {
  margin-left: 1.6pt;
  padding-top: 26.9pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c69 {
  margin-left: 1.1pt;
  padding-top: 7.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c31 {
  margin-left: 0.6pt;
  padding-top: 6.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c1 {
  margin-left: 1.7pt;
  padding-top: 12.4pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c38 {
  padding-top: 52.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.8pt
}

.c86 {
  margin-left: 0.7pt;
  padding-top: 46.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c66 {
  margin-left: 1.4pt;
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c102 {
  margin-left: 1.7pt;
  padding-top: 67.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c76 {
  margin-left: 19.7pt;
  padding-top: 5.1pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c20 {
  padding-top: 11pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.5pt
}

.c34 {
  margin-left: 1.6pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c29 {
  margin-left: 19.7pt;
  padding-top: 0.9pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c85 {
  margin-left: 19.7pt;
  padding-top: 3.4pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c71 {
  margin-left: 19.7pt;
  padding-top: 2.7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c40 {
  margin-left: 1.7pt;
  padding-top: 13.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c87 {
  margin-left: 1.6pt;
  padding-top: 24.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c65 {
  margin-left: 1.6pt;
  padding-top: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c91 {
  padding-top: 15.3pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.5pt
}

.c51 {
  margin-left: 1.3pt;
  padding-top: 4.4pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c22 {
  margin-left: 1.5pt;
  padding-top: 3.4pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c43 {
  margin-left: 1.6pt;
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c4 {
  margin-left: 19.7pt;
  padding-top: 3.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c54 {
  margin-left: 1.5pt;
  padding-top: 1.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c0 {
  margin-left: 19.7pt;
  padding-top: 2.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c8 {
  margin-left: 19.7pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c28 {
  margin-left: 0.8pt;
  padding-top: 4.7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c39 {
  margin-left: 0.6pt;
  padding-top: 7.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c70 {
  padding-top: 12.3pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.3pt
}

.c73 {
  margin-left: 1.7pt;
  padding-top: 10.7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c50 {
  padding-top: 10.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.5pt
}

.c47 {
  margin-left: 1.6pt;
  padding-top: 48.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c74 {
  margin-left: 1.6pt;
  padding-top: 26.4pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c97 {
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.3pt
}

.c75 {
  margin-left: 0.8pt;
  padding-top: 7.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c103 {
  margin-left: 1.3pt;
  padding-top: 7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c92 {
  margin-left: 19.7pt;
  padding-top: 3.6pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c94 {
  padding-top: 12.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: right;
  margin-right: 3.8pt
}

.c41 {
  margin-left: 1pt;
  padding-top: 51.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c9 {
  margin-left: 1pt;
  padding-top: 7.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c78 {
  margin-left: 1.6pt;
  padding-top: 0.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c13 {
  margin-left: 1.5pt;
  padding-top: 4.9pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c104 {
  padding-top: 6.5pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c107 {
  padding-top: 0.8pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c83 {
  padding-top: 24.7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c105 {
  padding-top: 5.1pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c45 {
  padding-top: 4.7pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c52 {
  padding-top: 4.2pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c96 {
  background-color: #ffffff;
  /* max-width: 471.6pt; */
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 45.3pt 69.1pt 40.9pt 71.3pt
}

.c101 {
  margin-left: 0.7pt
}

.c80 {
  margin-left: 0.8pt
}

.c37 {
  background-color: #fcfcfc
}

.c98 {
  margin-left: 1.5pt
}

.c82 {
  margin-left: 1.2pt
}

.title {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 36pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 18pt;
  color: #666666;
  font-size: 24pt;
  padding-bottom: 4pt;
  font-family: "Georgia";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial"
}

h1 {
  padding-top: 24pt;
  color: #000000;
  font-weight: 700;
  font-size: 24pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-weight: 700;
  font-size: 18pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 14pt;
  color: #000000;
  font-weight: 700;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 12pt;
  color: #000000;
  font-weight: 700;
  font-size: 12pt;
  padding-bottom: 2pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 11pt;
  color: #000000;
  font-weight: 700;
  font-size: 11pt;
  padding-bottom: 2pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 10pt;
  color: #000000;
  font-weight: 700;
  font-size: 10pt;
  padding-bottom: 2pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.doc-content {
  padding: 20px;
}