@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --primary-text: #393943;
    --primary-secondary: #727272;
    --primary-tertiary: #ADADAD;
    --primary-light-text: #A3A3A3;
    --primary-border: #EBEBEB;
    --accent: #FF6514;
    --white: #FFFFFF;
    --black: #131315;
    --dark-mode-text: #FFFFFF;
    --dark-mode-border: #4E4E4E;
    --dark-mode-secondary-text: #DDDDDD;
    --dark-mode-tertiary-text: #A0A0A0;
    --background: #FFFFFF;
    --background-secondary: #F5F0ED;
    --background-tertiary: #F7F8F2;
    --component-background: #FDFAF5;
  }
}